@model ExpenseVM

@*action koji će se okinuti kada se klikne na submit*@
<form method="post" asp-action="Create">
    <div class="border p-3">
        @*ovo ne moramo imati*@
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add expense</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        @*TagHelper asp-for*@
                        @*DisplayName data annotation da ispiše nešto user friendly*@
                        <label asp-for="Expense.Name"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Expense.Amount"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Expense.ExpenseType"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        @*input - za textbox*@
                        <input asp-for="Expense.Name" class="form-control" />
                        <span asp-validation-for="Expense.Name" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Expense.Amount" class="form-control" />
                        <span asp-validation-for="Expense.Amount" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <select asp-for="Expense.ExpenseTypeId" asp-items="@Model.TypeDropDown" class="form-control">
                            @*defaultna vrijednost*@
                            <option selected>--Select expense type </option>
                        </select>
                        <span asp-validation-for="Expense.ExpenseTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Create" />
                        </div>
                        <div class="col">
                            @*dovoljan je action kad ostajemo unutar istog controllera*@
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}