@model ExpenseType

@*action koji će se okinuti kada se klikne na submit*@
<form method="post" asp-action="Create">
    <div class="border p-3">
        @*ovo ne moramo imati*@
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add expense type</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        @*TagHelper asp-for*@
                        @*DisplayName data annotation da ispiše nešto user friendly*@
                        <label asp-for="Name"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        @*input - za textbox*@
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>                    
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Create" />
                        </div>
                        <div class="col">
                            @*dovoljan je action kad ostajemo unutar istog controllera*@
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts
{
        @{ <partial name="_ValidationScriptsPartial" />}
}